body, html {
    height: 100%;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    color: #333;
}

.navbar {
    border-bottom: 2px solid #ddd;
}
.table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
    background-color: #343a40;
    color: #fff;
}

#searchInput {
    width: 200px;
    border-radius: 20px;
}

.input-group-text {
    background-color: #f8f9fa;
    border-color: #f8f9f8;
}

.btn-primary {
    background-color: #343a40;
    color: white;
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #495057;
    border-color: #495057;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger .fa-trash {
    margin-right: 2px;
    margin-left: 2px;
}